<form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-column gap-4">
  <div class="flex flex-column gap-4">
    <div class="flex flex-column">
      <div class="flex gap-2 justify-content-start align-items-center">
        <label class="w-10rem" htmlFor="password">Password</label>
        <div
          class="flex-grow-1 flex gap-4 justify-content-center align-items-center"
        >
          <input
            class="flushed-input flex-grow-1"
            [type]="state().passwordVisibility ? 'text' : 'password'"
            (cut)="preventDefault($event)"
            (copy)="preventDefault($event)"
            (paste)="preventDefault($event)"
            formControlName="password"
            placeholder="Enter your Password"
          />
          <span (click)="changePasswordVisibility()" class="cursor-pointer">
            <i class="material-icons">{{
              state().passwordVisibility ? "visibility" : "visibility_off"
            }}</i>
          </span>
        </div>
      </div>
      <div
        class="text-center"
        *ngIf="
          f['password'].invalid &&
          (f['password'].dirty || f['password'].touched)
        "
      >
        <small
          *ngIf="f['password'].errors && f['password'].hasError('required')"
          class="text-red-500"
        >
          Password is required.</small
        >

        <small
          *ngIf="f['password'].errors && f['password'].hasError('minlength')"
          class="text-red-500"
        >
          Password should not be less than 8 characters.</small
        >

        <small
          *ngIf="f['password'].errors && f['password'].hasError('pattern')"
          class="text-red-500"
        >
          Password should be alphanumberic and should have 1 number.</small
        >
      </div>
    </div>
    <div class="flex flex-column">
      <div class="flex gap-2 justify-content-start align-items-center">
        <label class="w-10rem" htmlFor="confirmPassword"
          >Confirm Password</label
        >
        <div
          class="flex-grow-1 flex gap-4 justify-content-center align-items-center"
        >
          <input
            class="flushed-input flex-grow-1"
            [type]="
              state().confirmPasswordVisibility ? 'text' : 'password'
            "
            (cut)="preventDefault($event)"
            (copy)="preventDefault($event)"
            (paste)="preventDefault($event)"
            formControlName="confirmPassword"
            placeholder="Enter your confirm password"
          />
          <span
            (click)="changeConfirmPasswordVisibility()"
            class="cursor-pointer"
          >
            <i class="material-icons">{{
              state().confirmPasswordVisibility
                ? "visibility"
                : "visibility_off"
            }}</i>
          </span>
        </div>
      </div>
      <div
        class="text-center"
        *ngIf="
          f['confirmPassword'].invalid &&
          (f['confirmPassword'].dirty || f['confirmPassword'].touched)
        "
      >
        <small
          *ngIf="
            f['confirmPassword'].errors &&
            f['confirmPassword'].hasError('required')
          "
          class="text-red-500"
        >
          Confirm Password is required.</small
        >

        <small
          *ngIf="
            f['confirmPassword'].errors &&
            f['confirmPassword'].hasError('minlength')
          "
          class="text-red-500"
        >
          Confirm Password should not be less than 8 characters.</small
        >

        <small
          *ngIf="
            f['confirmPassword'].errors &&
            f['confirmPassword'].hasError('pattern')
          "
          class="text-red-500"
        >
          Confirm Password should be alphanumberic and should have 1
          number.</small
        >
      </div>
    </div>

    <div class="flex gap-2 justify-content-between align-items-center">
      <p-button
        label="Clear"
        (click)="clear()"
        styleClass="p-button-primary p-button-rounded p-button-outlined p-button-sm"
      />
      <p-button
        type="submit"
        label="Submit"
        [loading]="state().isLoading"
        styleClass="p-button-secondary p-button-rounded p-button-raised p-button-sm"
      />
    </div>
  </div>
</form>
