<p-card styleClass="sm:w-30rem border-round-xl">
  <ng-template pTemplate="header">
    <div class="w-full text-center text-2xl text-primary pt-4 font-bold">
      Reset Password
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <app-email-step
      [props]="state().params"
      (nextStep)="nextStep()"
      [isLoading]="state().isLoading"
      section="reset-password"
      (clearParams)="clearParams()"
      *ngIf="!state().step"
    />
    <app-token-step [props]="state().params" (backStep)="backStep()" *ngIf="state().step" />
  </ng-template>
</p-card>
